/*GOOGLE FONTS*/
@import url('https://fonts.googleapis.com/css2?family=Montserrat+Alternates:wght@500;600&family=Poppins:wght@400;500&display=swap');
/*VARIABLE CSS*/
:root{
    --header-height: 3.5rem;

/*Colors*/
/*Color mode HSL*/
--title-color: hsl(0,0%,95%);
--text-color:hsl(0,0%,70%);
--text-color-light:hsl(0,0%,60%);
--body-color:hsl(0,0%,0%);
--container-color:hsl(0,0%,8%);

/*Font and typography*/
/* 1rem = 16px */
--body-font: "Poppins", sans-serif;
--second-font: "Montserrat Alternates", sans-serif;
--biggest-font-size:2.75rem;
--h1-font-size:1.5rem;
--h2-font-sie:1.25rem;
--h3-font-size:1rem;
--norma-font-size: .938rem;
--small-font-size: .813rem;
--smaller-font-size: .75rem;

/*Font weight*/
}